body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.title {
    text-align: center;
    margin-top: 50px;
}

#time {
    text-align: center;
    margin-top: 20px;
}

/* Định dạng button */
.random-button {
    width: 150px;
    height: 150px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    /* Đặt vị trí tuyệt đối */
}

.triangle-button {
    width: 0;
    height: 0;
    border-left: 75px solid transparent; /* Điều chỉnh kích thước tam giác tại đây */
    border-right: 75px solid transparent;
    border-bottom: 130px solid #ff00f2; /* Màu và chiều cao tam giác */
    border-radius: 0;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.circle-button {
    width: 150px; /* Đường kính của hình tròn */
    height: 150px; /* Đường kính của hình tròn */
    background-color: #00ff2a;
    color: #fff;
    border-radius: 50%; /* Làm tròn để tạo hình tròn */
    border: none;
    cursor: pointer;
    position: absolute;
}
